*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/**/target/
/**/.mvn/
/**/.classpath
/**/.project
/**/.settings/
/**/nb-configuration.xml
/**/.springBeans
/**/.checkstyle
/**/nbactions.xml
/**/pom.xml.releaseBackup
/**/node_modules/
/**/bower_components/

/**/polymer-loader.vulcanized.html
/**/test-target
/**/main.min.css
/**/dist/public
/**/dist/www
/**/.idea
/**/npm-debug.log
/**/*.log
/**/nbproject/private/
/**/nbproject/
/**/dist/

# Android
*.iml
.gradle
/**/local.properties
/**/.idea/workspace.xml
/**/.idea/libraries
/**.DS_Store
/**/build
/**/captures

