<html>
    <body>
        <img src="$applicationLogo" />
        <h3>Tisztel $userName!</h3>
        <p>Ön jelszó visszaállítást kért $applicationName alkalmazásához!</p>
        <p>Az alábbi linkre kattintva adhatja meg új jelszavát:</p>
        <p><a href="$passwordResetLink">$passwordResetLink</a></p>
        <p>Üdvözlettel $organizationName!</p>
    </body>
</html>