<html>
    <body>
        <img src="$applicationLogo" />
        <h3>Dear $userName!</h3>
        <p>You will be asked to apply the password reset $applicationName!</p>
        <p>Click on the link below to add a new password:</p>
        <p><a href="$passwordResetLink">$passwordResetLink</a></p>
        <p>Regards $organizationName!</p>
    </body>
</html>