<html>
    <body>
        <img src="$applicationLogo" />
        <h3>Drodzy $userName!</h3>
        <p>Zostaniesz poproszony o stosowaniu zresetować hasło $applicationName!</p>
        <p>Kliknij na poniższy link, aby dodać nowe hasło:</p>
        <p><a href="$passwordResetLink">$passwordResetLink</a></p>
        <p>Pozdrawiam $organizationName!</p>
    </body>
</html>
